html {
    margin 0;
    padding 0;
}


body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(255, 255, 255) url(../img/coolcitylights.jpg) no-repeat fixed;

}


a {
    border-radius: 10px;
}

/* Link styles from w3schools css_link*/

/* unvisited link */
a:link {
    color: red;
}
  
  /* visited link */
a:visited {
    color: rgb(128, 0, 85);
}
  
  /* mouse over link */
a:hover {
    color: rgb(105, 220, 255);
}
  
  /* selected link */
a:active {
    color: blue;
}


#bar {
    border: 25px;
    background-color: rgba(29, 113, 187, 0.7);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div {
    border-radius: 25px;
    text-align: center;
    color: black;
    background-color: rgba(240, 248, 255, 0.589);
    margin: 5%;
    padding: 2%;
    max-height: 100%;
    max-width: 100%;
}

footer {
    text-align: center;
    color: black;

}

footer a {
    text-align:center;
    color: black;    
    background-color:rgba(240, 248, 255, 0.589);
    padding: 5px;
    border: 5px;
}


footer p {
    text-align:center;
    color: black;    
    background-color:rgba(240, 248, 255, 0.589);
    padding: 5px;
    border: 5px;
}

#emailme {
    
    background-image: rgb(255,255,255) url(../img/emailicon.png);
    display: block;
}
#mailme {
    border-radius: 10px;
    text-align:center;
    color: black;    
    background-color:rgba(240, 248, 255, 0.589);
    padding: 5px;
    margin:4%; 
}

h1 {
    border-radius: 15px;
    text-align: center;
    color: black;
    background-color:rgba(240, 248, 255, .9) ;
    padding: 25px;
}

h2 {
    border-radius: 10px;
    text-align: center;
    color: black;
    margin: auto;
    border: 2px;
    padding: 10px;
    clear: both;
    background-color: rgba(240, 248, 255, .589);
    
}

h4 {
    border-radius: 5px;
    text-align: center;
    color: black;
    margin: auto;
    background-color: rgba(240, 248, 255, .9);
}


img {
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
}

#job_Duration p {
    border-bottom: 5px;
}

#propic {
    float:right;
    width: 15%;
    height: auto;
    
    display: block;
    background-color: rgba(240, 248, 255, .9);

    margin:auto;
}




nav a {
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 2px;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    font-size: large;
    color:  rgb(255, 255, 255);
    background-color: rgba(29, 113, 187, 0.7);
    cursor: pointer;
}

nav a:hover{
    color: white;
    background-color:black;
}


nav li {
    float: left;
}



p {
    border-radius: 10px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.589);
    padding: 5%;

}

blockquote {
    border-radius: 5px;
    text-align: center;
    color: black;
    background-color: rgba(240, 248, 255, 0.589);
    margin:  auto; 

}

.school {
    text-align: end;
}

section {
    border-radius: 10px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.589);
    margin: 5%;

}

#table_Experience {
    background-color: rgba(240, 248, 255, 0.589)
}